.gist{
}
.gist__title{
  margin-bottom:1.5em;
}
.gist__inner{
  width:100%;
  position:relative;
  padding:2em;
}
.gist__foot{
  position:absolute;
  right:2em;
  bottom:2em;
}
.gist__icon{
  font-size:1.8em;
  vertical-align:middle;
}
