.image{
  max-height:800px;
}
.image--img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.image__hover{
  position: absolute;
  width: 70%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  line-height: 1.3em;
  margin: auto;
  vertical-align: middle;
  text-align: center;
  padding: 2em;
  display: table;
  box-shadow: 2px 2px 0px white;
  opacity:0;
  transform: translateY(10px);
  transition: all 300ms;

  @media (min-width: break(m)){
    width: 40%;
  }
}
.image:hover .image__hover{
  opacity:1;
  transform: translateY(0);
}
.image__hover > p{
  display:table-cell;
  vertical-align: middle;
}
.image__hover::before{
  content:'';
}
.image + .image{
  position:relative;
  top:0;

  @media (min-width: break(m)){
    top:30px;
  }
}
