<section class="list w1 w{{width}}_m float-l half-gutter cw">
  <h3 class="list__title">{{title}}</h3>
  <ul class="list__ul">
  {{#each list}}
    <li class="list__li"><a href="{{url}}" class="list__a" target="_blank">{{name}}</a></li>
  {{/each}}
  </ul>
</section>
